# Задание

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv("../datasets/kaggle_survey_2022_responses.csv")
name2question = data.iloc[0]
data.drop(0, inplace=True)

C:\Users\kuzne\AppData\Local\Temp\ipykernel_1560\2978715285.py:3: DtypeWarning: Columns (0,208,225,255,257,260,270,271,277) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../datasets/kaggle_survey_2022_responses.csv")

## Задание 1

Узнай самый часто встречаемый возраст респондентов

In [3]:
data['Q2'].value_counts().idxmax()

'18-21'

## Задание 2

Посчитай долю женщин среди русских участником опроса, которые уже не студенты. Результат округли до 2х цифры после запятой

In [4]:
filt1 = ((data['Q4'] == 'Russia') & (data['Q5'] == 'No')).sum()
filt2 = ((data['Q3'] == 'Woman') & (data['Q4'] == 'Russia') & (data['Q5'] == 'No')).sum()
round(filt2/filt1, 2)

0.24

## Задание 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до 2х знаков после запятой

In [5]:
round(data['Duration (in seconds)'].astype(int).mean()/60, 2)

168.17

## Задание 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [6]:
q6_columns = [col for col in data.columns if col.startswith('Q6')]
data[q6_columns].melt()['value'].value_counts().head(3)

Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628
Name: value, dtype: int64

## Задание 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [19]:
data2 = data[data['Q23'] == 'Data Scientist']
q12_columns = [col for col in data.columns if col.startswith('Q12')]
data2[q12_columns].melt()['value'].value_counts().head(5)

Python        1808
SQL           1140
R              530
Bash           248
Javascript     187
Name: value, dtype: int64

## Задание 6

Узнай средний доход 'Data Scientist' и 'Machine Learning/ MLops Engineer' \
Т.к в колонке Q29 у на промежуток, то возьмите среднее значение из промежкутка. Например '15,000-19,999' - 17500, '125,000-149,999' - 137500. >$1,000,000 - оставляем 1000000

In [25]:
def get_mean_salary(indexes):
    salaries = []
    for index in indexes:
        index = index.replace('$', '')
        index = index.replace(',', '')
        index = index.replace('>', '')
        splitted = index.split('-')
        if len(splitted) > 1:
            mean = (int(splitted[0]) + (int(splitted[1])) + 1) / 2
        else:
            mean = splitted[0]
        salaries.append(mean)
    return np.array(salaries, dtype=int)

DS = data[data['Q23'] == 'Data Scientist']['Q29'].dropna()
salaryDS = get_mean_salary(DS).mean()
ML = data[data['Q23'] == 'Machine Learning/ MLops Engineer']['Q29'].dropna()
salaryML = get_mean_salary(ML).mean()

print(salaryDS, salaryML)

70337.23653395784 67437.74703557312

## Задание 7 - Дополнительное задание

Найдите какой-нибудь интересный инсайт из этих данных. Пишите свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

In [20]:
woman = data['Q3'].str.contains('Woman').value_counts()[True]
noname = data['Q3'].str.contains('Woman').value_counts()[False]
print(f'{round((woman * 100 / (woman + noname)), 2)}% опрошенных являются женщины')

22.03% опрошенных являются женщины